[core]
	editor = subl3 -w
[user]
	name = HactarCE
	email = 6060305+HactarCE@users.noreply.github.com
[credential "https://github.com"]
	username = HactarCE
[includeIf "gitdir:~/Classes/"]
    path = ~/Classes/.gitconfig
[includeIf "gitdir:~/Documents/School/3-NCSU/"]
    path = ~/Classes/.gitconfig
