[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pcloudstartup script
Exec=/home/andrew/Scripts/Polybar/run-pcloud.sh
StartupNotify=false
Terminal=false
